.pokedex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.pokedex-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
