.modal-filter-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-filter-content {
  background: #c85048;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  max-height: 70vh;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .modal-filter-content {
    padding: 2rem;
    width: 290px;
  }
}
