.search-container {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
}

.input-search {
  font-family: "Arial", sans-serif;
  width: 100%;
  max-width: 400px;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 1em;
  border-color: rgb(0, 0, 0);
}

.input-search:focus {
  border-color: #c85048;
  outline: none;
}

@media (max-width: 600px) {
  .input-search {
    width: 70%;
  }
}
